html {
    background-color: #333333;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  padding: 50px;
  box-sizing: border-box;
  background-color: #333333;
}

.flexbox {
  position: relative; /* Make the container relative */
  width: 400px;
  height: 400px;
  background-color: #222222;
  border-radius: 50px;
  box-sizing: border-box;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-family: Verdana, sans-serif;
  white-space: pre-line;
  transition: all 0.2s ease-in-out;
}

.flexbox:hover {
  transform: translate(-5px, -10px); /* Move the flexbox slightly to the left */
}



  
  @media screen and (max-width: 480px) {
    .container {
      flex-direction: column;
      flex-wrap: wrap;
    }
  }
    /* Style the toggle switch */
    .toggle {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        margin-right: 20px; /* Increased margin-right */
        width: 60px;
        height: 34px;
        
      }
  
      /* Hide default checkbox */
      .toggle input {
        display: none;
      }
  
      /* Style the toggle switch background */
      .toggle .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
        border-radius: 34px;
      }
  
      /* Style the toggle switch slider */
      .toggle .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
        border-radius: 50%;
      }
  
      /* Style the toggle switch when checked */
      .toggle input:checked + .slider {
        background-color: #2196F3;
      }
  
      /* Style the toggle switch slider when checked */
      .toggle input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
      }
  
      /* Style the label text */
      .label-text {
        display: inline-block;
        vertical-align: middle;
        font-size: 16px;
        color: white;
        margin-left: 10px; /* Added margin-left */
      }
/* Style the heading text */
h2 {
  font-size: 24px;
  margin-bottom: 10px;
}